<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= baseUrl %>stylesheets/bootstrap.min.css">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: "yy-mm-dd"
    });
  } );
  </script>
  
</head>
<body>
    <div class="container w-50">
        <form method="POST" class="" >
                <h1 class="text-center">User Details</h1>
                <p class="text-center">
<% if(locals.success){ %>
    user details successfully saved
<% } else{ %>
    please enter valid datas
<% } %>
<% 
if(locals.errors){    
    errors.forEach(function(e){ 
%>
    <div><%= e.path + " " + e.message %></div>
<% 
    }); 
}
%>
</p>
            <div class="form-group"> 
                <label class="" >Name:</label>
                <div class="">
                    <input type="text" name="tname" class="form-control" placeholder="Enter Name">
                </div>
            </div>
            <div class="form-group">
                <label class="" >Email:</label>
                <div class="">
                    <input type="text" name="temail" class="form-control" placeholder="Enter Email">
                </div>
            </div>
            <div class="form-group">
                <label class="" >Date of birth</label>
                <div class="">
                    <input type="text" name="tdate" class="form-control" id="datepicker">
                </div>
            </div>
            <!-- <div class="form-group">
                <label class="" >Status</label>
                <div class="">
                    <input type="number" name="tstatus" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="" >Role</label>
                <div class="">
                    <input type="number" name="trole" class="form-control">
                </div>
            </div> -->

            <input type="submit" class="btn btn-warning">
            <input type="reset" class="btn btn-warning">
        </form>
    </div>
</body>
</html>